body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #fff;

    background-color: #849d8f;
    background-position: center 0;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;

    background-color: #e84d37;
}

.container {
    width: 1200px;

    box-sizing: border-box;

    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    padding-right: 27px;
}

.header {
    display: flex;
    align-items: center;

    padding-top: 2px;
}

.logo {
    width: 154px;
    height: 64px;

    margin-top: 7px;
}

.main-nav-list {
    display: flex;
    position: relative;

    margin-left: 10px;
    margin-top: 18px;
    padding: 0;
}

.main-nav-item {
    display: flex;
    align-items: center;
    position: relative;

    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    margin-right: 0.5px;
    
    display: flex;
    justify-content: center;

    height: 32px;
    border-radius: 16px;
    
    
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
    list-style: none;
    text-decoration: underline;
}

.item-on {
    display: flex;
    position: relative;

    color: #fff;

    padding-left: 14px;
    padding-right: 14px;
    
    width: 87px;

    text-decoration: none;

    border-radius: 16px;

    background-color: #d07058;
}

.main-nav-item:hover,
.main-nav-item:focus {
    color: #323232;

    text-decoration: none;
    
    height: 32px;

    background-color: #f7f6f3;
}

.main-nav-item:active {
    color: #323232;

    text-decoration: none;

    background-color: #f7f6f3;
}

.sub-menu {
    display: none;
    position: absolute;
    
    top: 37px;
    left: 33px;

    border-radius: 5px;
    width: 143px;
    padding-left: 0;
    padding-bottom: 3px;

    background-color: #f8f7f4;
}

.main-nav-list > li:hover .sub-menu,
.main-nav-list > li:focus .sub-menu {
    display: block;
    position: absolute;
}

.sub-menu-item {
    display: block;
    padding: 5px 0;
    padding-left: 20px;
    margin-bottom: 5px;
    
    color: #323232;
    font-size: 14px;
    line-height: 16px;
}

.new-item a {
    margin: 0;
    padding: 0;
    padding-left: 20px;

    color: #323232;
    font-size: 14px;
    line-height: 38px;
    font-weight: 700;
}

.new-item::after {
    display: block;
    content: "";

    height: 1px;

    margin: 0;
    padding: 0;
    margin-right: 9px;
    margin-left: 6px;
    margin-bottom:5px;

    background-color: #323232;
    background-repeat: no-repeat;
    opacity: .2;
}

.sub-menu-item:hover {
    background-color: #fbded8;
}

.sub-menu-item:focus {
    background-color: #f6b5a5;
}

.main-nav-list,
.sub-menu {
    list-style: none;
}

.menu-personal {
    display: flex;
    align-items: center;

    list-style: none;

    padding-top: 2px;
    margin-left: auto;
    margin-bottom: 0;
    margin-top: 0;
    margin-right: 1px;
}

.menu-personal li {
    margin-left: 10px;
    border-radius: 16px;
}

.menu-personal li:hover a,
.menu-personal li:focus a {
    background-color: #f8f7f4;

    color: #323232;
}

.menu-personal a {
    box-sizing: border-box;

    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #ffffff;
    
    padding-left: 16px;
    padding-right: 16px;
    border-radius: 16px;

    height: 32px;

    background-color: rgba(255, 255, 255, 0.2);
}


.menu-personal a:hover,
.menu-personal a:focus {
    font-size: 14px;
    line-height: 32px;
    font-weight: 500;
    color: #323232;

    background-color: #f8f7f4;
}

.menu-personal-item-search {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;


}

.menu-personal-item-search a {
    width: 32px;
    height: 32px;
}

.menu-personal-item-search svg {
    position: absolute;

    top: 7.5px;
    left: 7.5px;

    width: 17px;
    height: 17px;
}

.menu-personal-item-search:hover path,
.menu-personal-item-search:focus path {
    fill: #323232;
}

.search-field {
    display: none;
    position: absolute;
    z-index: 4;

    top: 40px;
    right: 1px;

    background-color: #f8f7f4;
    border-radius: 5px;
}

.menu-personal-item-search:hover .search-field {
    display: block;
}


.search-field input {
    width: 309px;
    height: 42px;
    border: 1px solid #d3d3d2;
    border-radius: 5px;

    margin: 20px 15px;

    font-size: 14px;
    font-weight: 42px;
    color: #999999;
}

.search-field input[placeholder] {
    padding-left: 14px;
}

.menu-personal-item-login a {
    position: relative;
    display: flex;
    align-content: center;
}

.menu-personal-item-login:hover path,
.menu-personal-item-login:focus path {
    fill: #000;
}

.menu-personal-item-login svg {
    display: absolute;
    margin-right: 7px;
    margin-top: 5px;
}

.login {
    display: none;
    position: absolute;
    top: 100px;

    z-index: 5;
}


.menu-personal-item-login:hover .login,
.menu-personal-item-login:focus .login {
    display: block;
}

.login form {
    display: flex;
    flex-wrap: wrap;

    width: 277px;

    background-color: #f8f7f4;
    border-radius: 5px;
}

.login-fields input {
    width: 239px;

    margin-left: 19px;
    margin-top: 20px;
    margin-right: 17px;

    border: 1px solid #d3d3d2;
    border-radius: 5px;
}
.login-fields input[placeholder] {
    font-size: 14px;
    line-height: 40px;

    text-indent: 13px;
}

.login button {
    margin-left: 18px;
    margin-bottom: 20px;
    padding: 0 26px;

    width: 102px;
    border: 0;
    border-radius: 40px;


    font-size: 18px;
    font-weight: 700;
    line-height: 44px;
    color: #fefefe;
}

.login-fields {
    margin-bottom: 20px;
}

.login-help {
    margin-top: 3px;
}

.login-help a {
    display: block;

    margin-left: 19px;
    padding: 0;

    height: auto;

    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;
}

.login-help a:hover {
    color: #e84d37;
    font-size: 13px;
}

.forgot-pass {
    margin-bottom: 5px;
}

.menu-personal-item-basket-on {
    display: flex;
    position: relative;
}

.menu-personal-item-basket-on .basket-button {
    display: flex;

    min-width: 86px;
    border-radius: 16px;
    
    padding-left: 16px;
    padding-right: 16px;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 32px;
    color: #323232;

    background-color: #f7f6f3;
}

.menu-personal-item-basket-on .basket-button::before {
    content: "";

    width: 21px;
    height: 20px;

    line-height: 32px;

    margin-right: 6px;
    margin-top: 6px;

    background-repeat: no-repeat;
    background-image: url(../img/icon-basket-red.svg);
}

.basket {
    display: block;
    position: absolute;

    top: 100px;
    left: -400px;

    width: 539px;

    background-color: #f8f7f4;
    border-radius: 5px;
}

.menu-personal-item-basket-on:hover .basket {
    display: block;
}

.basket button {
    width: 11px
    height: 11px;
}

.basket button::after {
    content: "";

    width: 11px
    height: 11px;

    background-image: url(../img/cross-small.svg);
    background-repeat: no-repeat;
}

.basket ul {
    list-style: none;
    align-items: center;
    padding-left: 21px;
}

.basket li {
    display: flex;
    flex-direction: row;

    margin: 0;
    margin-top: 20px;
}

.basket img {
    margin-right: 11px;
}

.basket a {
    display: flex;
    flex-wrap: nowrap;

    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;

    padding: 0;
    margin-left: 9px;
}

.basket a:hover {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #e84d37;
}

.basket p {
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    color: #323232;

    margin: 0;
    margin-top: 9px;
    margin-right: 30px;
}

/*Некоторые скрытые элементы*/

.feedback,
.pages span,
.filter{
    display: none;
}

.forgot-pass,
.new-reg {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration: underline;
}


.breadcrumbs-work-time {
    display: flex;
}

.breadcrumbs {
    display: flex;

    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 0;
    padding-left: 0;

    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    
    list-style: none;
}

.breadcrumbs a {
    
    color: #fff;
}

.breadcrumbs li {
    margin-right: 7.2px;
}

.breadcrumbs span {
    text-decoration: underline;
}

.breadcrumbs a:hover {
    color: #ffbc9e;
}

.work-time {
    position: relative;

    margin-right: -1px;
    text-align: right;
}

.work-time-wt {
    margin: 0;
    margin-left: auto;
    margin-right: 1px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
}

.work-time-number {
    margin-top: 4px;
    margin-bottom: 0;
}

.work-time-number span {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

}

.h1-inner {
    margin: 0;

    font-size: 35px;
    line-height: 41px;
}

.bg-1 {
    display: none;

    font-size: 60px;
    line-height: 60.35px;
    color: #ffffff;

    text-align: center;
}

.button-give-both {
    display: none;

    font-size: 32px;
    line-height: 44px;
}

.stock {
    display: none;
}

.container-goods {
    width: 1172px;
    margin: 0 auto;
}

.goods-hit {
    display: none;

    list-style: none;
}

.goods {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 55px;
    padding: 0;

    list-style: none;
}

.goods img {
    margin: 0 auto;
}

.goods li {
    box-sizing: border-box;
    width: 25%;
    padding-left: 13px;
    padding-right: 13px;
    border-radius: 5px;
}

.goods p {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;

    margin: 0;
}

.goods span {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

.goods h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;

    width: 267px;

    text-align: center;

    text-decoration: underline;
}

.goods a {
    color: #fff;
}

.goods a:hover {
    color: #ffbc9e;
}

.goods li:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.about-gllacy {
    margin-bottom: 40px;
    
    background-color: antiquewhite;
    background-image: url("../img/bg-waffle.png");
    height: 306px;
    background-repeat: no-repeat;
}

.h1-index {
    margin-left: 21px;
    padding-top: 25px;

    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.about-gllacy-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-right: 59px;
}

.about-gllacy-list li {
    width: 480px;

     margin-bottom: 22px;

    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323232;

    list-style: none;
}

.news-follow {
    display: flex;
    justify-content: space-between;
}

.news-blog {
    background-image: url("../img/bg-news.png");
    width: 560px;
    background-color: #fff;
    background-repeat: no-repeat;
}

.news-blog h3 {
    padding-top: 7px;
    padding-left: 20px;
    margin-bottom: 4px;
    
    
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #323232;
}

.news-blog a {
    display: flex;
    margin-left: 20px;
    
    width: 300px;
    
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    
    color: #323232;
    text-decoration: underline;
}

.news-blog a:hover {
    color: #e84d37;
}

.post-follow {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;

    background-image: url("../img/bg-post.svg");
    width: 560px;
    background-repeat: no-repeat;
    background-color: #f8f7f4;
}

.post-follow p {
    width: 515px;
    
    margin-top: 35px;
    margin-left: 27px;
    margin-bottom: 32px;
}

.follow-e-mail {
    margin-left: 23px;
    
    width: 364px;
    height: 38px;

    margin-bottom: 40.5px;
}

.follow-button {
    margin-left: 6px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
}

.address-map {
    display: none;
}

.address {
    display: none;

    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;

    background-color: #fff;
    width: 302px;
    height: 305px;
}

.address span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.pages ol {
    display: flex;

    padding-left: 0;

    list-style: none;
}

.page {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 26px;
    height: 26px;
    border-radius: 13px;
}

.next span{
    position: absolute;
    height: 14px;
    width: 9px;

    background-image: url(../img/icon-right-small.svg);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.page a{
    box-sizing: border-box;
    margin: auto 0;

    color: #fff;
    font-weight: 500;
}

.page-open {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 26px;
    height: 26px;
    
    text-align: center;

    font-weight: 500;
    color: #353535;

    background-color: #fff;
}

.page:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

footer {
    display: flex;
    flex-direction: row;

    margin-top: 100px;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 0;
    width: 240px;
    list-style: none;
}
.social:hover {
    
}

.gllacy-info {
    display: flex;

    min-width: 400px;

    padding: 0;
    margin: 0 auto;
    margin-left: 142px;
    
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    text-decoration: underline;
}

.gllacy-info-2 {
    padding-left: 31px;
}

.gllacy-info ul {
    list-style: none;
}

.gllacy-info a {
    color: #fff;
}

.gllacy-info li {
    padding-bottom: 4px;
}

.gllacy-info span {
    font-weight: 700;
}

.gllacy-info span::before {
    position: absolute;
    content: "";

    margin-left: -22px;
    margin-top: 3px;

    width: 15px;
    height: 13px;
    background-image: url(../img/icon-heart.svg);
}

.gllacy-info a:hover {
    color: #ffbc9e;
}

.made-in {
    display: flex;
    
    padding-top: 29px;
    
    font-size: 12px;
    line-height: 18px;
    color: #fefefe;
    
    width: 189px;
}

.made-in a {
    margin-left: 4px;
    
    color: #fefefe;
    text-decoration: underline;
}

.made-in a:hover {
    color: #ffbc9e;
}