body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", "Arial", sans-serif;
    font-size: 16px;
    line-height: 18px;
    font-weight: normal;
    color: #fff;

    background-color: #849d8f;
    background-image: url("../img/bg-light.png");
    background-position: center 0;
    background-repeat: no-repeat;
}

a {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.button {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #fefefe;

    background-color: #e84d37;
}

.container {
    width: 1200px;
    height: 100%;

    box-sizing: border-box;

    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    padding-right: 27px;
}

.header {
    display: flex;
    align-items: center;

    padding-top: 2px;
}

.logo {
    width: 154px;
    height: 64px;

    margin-top: 7px;
}

.main-nav-list {
    display: flex;
    padding-left: 10.5px;
    margin-top: 18px;
}

.main-nav-item {
    display: flex;
    align-items: center;

    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    
    display: flex;
    justify-content: center;
    height: 32px;
    
    
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    list-style: none;
    text-decoration: underline;
}

.item-on {
    display: flex;
    color: #fff;

    padding-left: 14px;
    padding-right: 14px;
    
    width: 87px;

    text-decoration: none;

    background-color: #d07058;
}

.main-nav-item:hover,
.main-nav-item:focus {
    color: #323232;

    text-decoration: none;
    
    height: 32px;

    background-color: #f7f6f3;
}

.main-nav-item:active {
    color: #323232;

    text-decoration: none;

    background-color: #f7f6f3;
}

.sub-menu {
    display: none;

    background-color: #f8f7f4;
}

.sub-menu-item {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
}

.new-item {
    color: #323232;
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
}

.sub-menu-item:hover {
    background-color: #fbded8;
}

.sub-menu-item:focus {
    background-color: #f6b5a5;
}

.main-nav-list,
.sub-menu {
    list-style: none;
}

.menu-personal {
    display: flex;
    align-items: center;

    padding-top: 2px;
    margin-left: auto;
    margin-bottom: 0;
}

.menu-personal-item-search,
.menu-personal-item-login,
.menu-personal-item-basket {
    box-sizing: border-box;

    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    margin-left: 10px;
    padding-left: 16px;
    padding-right: 16px;

    height: 32px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.2);
}

.menu-personal-item-search {
    width: 32px;
    height: 32px;
}

.menu-personal-item-basket-on {
    height: 32px;
    min-width: 60px;
    
    margin-left: 10px;
    padding-left: 16px;
    padding-right: 16px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #323232;

    background-color: #f7f6f3;
}

.menu-personal-item-search:hover,
.menu-personal-item-login:hover,
.menu-personal-item-basket:hover,
.menu-personal-item-search:focus,
.menu-personal-item-login:focus,
.menu-personal-item-basket:focus {
    font-size: 14px;
    line-height: 16px;
    font-weight: 500;
    color: #323232;

    background-color: #f8f7f4;
}


/*Некоторые скрытые элементы*/

.feedback,
.pages span,
.filter,
.menu-personal input,
.search-field,
.basket,
.login button,
.login input,
.forgot-pass,
.new-reg {
    display: none;
}

.forgot-pass,
.new-reg {
    font-size: 13px;
    line-height: 24px;
    color: #323232;
    text-decoration: underline;
}


.breadcrumbs-work-time {
    display: flex;

    width: 1200px;

    box-sizing: border-box;

    margin: 0 auto;
    padding: 0;
    padding-left: 27px;
    padding-right: 26px;
}

.breadcrumbs {
    display: flex;

    margin-right: auto;
    margin-top: 26px;
    margin-bottom: 0;
    padding-left: 0;

    font-size: 14px;
    line-height: 16px;
    font-weight: 400;
    
    list-style: none;
}

.breadcrumbs a {
    
    color: #fff;
}

.breadcrumbs li {
    margin-right: 7.2px;
}

.breadcrumbs span {
    text-decoration: underline;
}

.breadcrumbs a:hover {
    color: #ffbc9e;
}

.work-time {
    text-align: right;
}

.work-time-wt {
    margin: 0;
    margin-left: auto;
    margin-right: 1px;

    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
    color: #fff;
}

.work-time-number {
    margin-top: 4px;
    margin-bottom: 0;
}

.work-time-number span {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;

}

.h1-inner {
    margin: 0;

    font-size: 35px;
    line-height: 41px;
}

.bg-1 {
    display: none;

    font-size: 60px;
    line-height: 60.35px;
    color: #ffffff;

    text-align: center;
}

.button-give-both {
    display: none;

    font-size: 32px;
    line-height: 44px;
}

.stock {
    display: none;
}

.container-goods {
    width: 1172px;
    margin: 0 auto;
}

.goods-hit {
    display: none;

    list-style: none;
}

.goods {
    display: flex;
    flex-wrap: wrap;

    margin-bottom: 55px;
    padding: 0;

    list-style: none;
}

.goods img {
    margin: 0 auto;
}

.goods li {
    box-sizing: border-box;
    width: 25%;
    padding-left: 13px;
    padding-right: 13px;
}

.goods p {
    font-size: 45px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;

    margin: 0;
}

.goods span {
    font-size: 30px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}

.goods h2 {
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #fff;

    width: 267px;

    text-align: center;

    text-decoration: underline;
}

.goods a {
    color: #fff;
}

.goods a:hover {
    color: #ffbc9e;
}

.goods li:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.about-gllacy {
    margin-bottom: 40px;
    
    background-color: antiquewhite;
    background-image: url("../img/bg-waffle.png");
    height: 306px;
    background-repeat: no-repeat;
}

.h1-index {
    margin-top: 24px;
    margin-left: 21px;
    margin-bottom: 7px;
    
    font-weight: 500;
    font-size: 24px;
    line-height: 30px;
    color: #323232;
}

.about-gllacy-list li {
    
    
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #323232;

    list-style: none;
}

.news-follow {
    display: flex;
    justify-content: space-between;
}

.news-blog {
    background-image: url("../img/bg-news.png");
    width: 560px;
    background-color: #fff;
    background-repeat: no-repeat;
}

.news-blog h3 {
    padding-top: 7px;
    padding-left: 20px;
    margin-bottom: 4px;
    
    
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    color: #323232;
}

.news-blog a {
    display: flex;
    margin-left: 20px;
    
    width: 300px;
    
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    
    color: #323232;
    text-decoration: underline;
}

.news-blog a:hover {
    color: #e84d37;
}

.post-follow {
    box-sizing: border-box;
    font-size: 16px;
    line-height: 22px;
    color: #5a5a5a;

    background-image: url("../img/bg-post.svg");
    width: 560px;
    background-repeat: no-repeat;
    background-color: #f8f7f4;
}

.post-follow p {
    width: 515px;
    
    margin-top: 35px;
    margin-left: 27px;
    margin-bottom: 32px;
}

.follow-e-mail {
    margin-left: 23px;
    
    width: 364px;
    height: 38px;

    margin-bottom: 40.5px;
}

.follow-button {
    margin-left: 6px;
    padding-top: 10px;
    padding-bottom: 8px;
    padding-right: 18px;
    padding-left: 18px;
}

.address-map {
    display: none;
}

.address {
    display: none;

    font-size: 14px;
    line-height: 22px;
    font-weight: 400;
    color: #323232;

    background-color: #fff;
    width: 302px;
    height: 305px;
}

.address span {
    font-size: 18px;
    line-height: 24px;
    font-weight: 700;
    color: #323232;
}

.pages {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    margin-bottom: 100px;
}

.pages ol {
    display: flex;

    padding-left: 0;

    min-height: 26px;

    list-style: none;
}

.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 26px;
    height: 26px;
}

.page a{
    box-sizing: border-box;
    margin: auto 0;

    color: #fff;
    font-weight: 500;
}

.page-open {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 26px;
    height: 26px;
    
    text-align: center;

    font-weight: 500;
    color: #353535;

    background-color: #fff;
}

.page:hover {
    background-color: rgba(255, 255, 255, 0.2)
}

.container-footer {
    display: flex;
    flex-direction: row;
    width: 1146px;
    height: 100%;

    margin: 0 auto;
    padding: 0;
}

.social {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    padding-left: 0;
    width: 240px;
    list-style: none;
}

.gllacy-info {
    display: flex;

    min-width: 400px;

    padding: 0;
    margin: 0 auto;
    margin-left: 142px;
    
    font-size: 13px;
    line-height: 18px;
    font-weight: 400;

    text-decoration: underline;
}

.gllacy-info-2 {
    padding-left: 31px;
}

.gllacy-info ul {
    list-style: none;
}

.gllacy-info a {
    color: #fff;
}

.gllacy-info li {
    padding-bottom: 4px;
}

.gllacy-info span {
    font-weight: 700;
}

.gllacy-info a:hover {
    color: #ffbc9e;
}

.made-in {
    display: flex;
    
    padding-top: 29px;
    
    font-size: 12px;
    line-height: 18px;
    color: #fefefe;
    
    width: 189px;
}

.made-in a {
    margin-left: 4px;
    
    color: #fefefe;
    text-decoration: underline;
}

.made-in a:hover {
    color: #ffbc9e;
}